html, body {
	min-height: 100%;
	height: 100%;
	margin: 0;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	overflow: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #333;
	background-color: #1B050A;
}

a {
	color: #333;
	text-decoration: none !important;
  transition: all .2s ease-out;
  &:hover {
  	color: #64aec9;
  }
}

/* Header */
.header {
  position: relative;
	width: 100%;
	height: 90%;
	z-index: 1;
	background: url("../watercolor-3.jpg") no-repeat center/100% 100%;
}

.header__banner {
	position: relative;
	z-index: 2;
	top: 47%;
	padding: 20px;
	color: white;
	background-color: rgba(27, 5, 10, 0.85);
}

.header__name {
	background: url("../sketched-name.png") center/contain no-repeat;
	height: 200px;
	z-index: 2;
	flex: 3;
}

.header__subtitle-and-navigation {
	flex: 2;	
}

.header__subtitle {
	font-size: 38px;
	margin: 0 0 4px;
}

.header__nav {
	font-size: 18px;
	margin-left: 4px;
	color: white;
}

.header__nav-item {
	&#{&} {
		color: white;
	}
}

/* -------- Section styling --------*/
.section {
	padding: 5% 10%;
	background-color: white;
}

.section--about {
	height: 400px;
	position: relative;
	margin-top: -2px;
}

.section__title {
	font-size: 24px;
	margin: 0;
	padding: 12px 0;
}

/* -------- About styling --------*/
.timeline {
	width: 80%;
	position: absolute;
}

.timeline__line {
	position: absolute;
	width: 100%;
	height: 15px;
	z-index: -1;
	background: url("../artistic_line.png") no-repeat top / 100% 15px;
}

.timeline__marker {
	position: absolute;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #64aec9;
	border-radius: 50%;
	border: 3px solid #333;
	transition: 1.5s;
}

.timeline__item {
	flex: 1;
}

.timeline__indicator {
	width: 20px;
	height: 20px;
	margin: auto;
	border: 3px solid #333;
	border-radius: 50%;
	background-color: white;

	&:hover {
		cursor: pointer;
	}
}

/* -------- Experience styling --------*/
.experience {
	justify-content: center;
	padding: 24px 0 48px;
}

.experience__text {
	width: 50%;
	padding-right: 32px;
}

.experience__title {
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: 800;
}

.experience__divider {
	align-self: baseline;
}

.experience__line {
	z-index: 0;
}

.experience__timeline {
	font-size: 16px;
	font-weight: 600;
}

.experience__job-title {
	display: block;
	font-size: 16px;
	margin-top: 4px;
	letter-spacing: 1px;
}

.experience__description {
	margin: 12px 0;
}

.experience__footer {
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 700;
}

.experience__img-container {
	width: 50%;
}

.experience__img {
	max-width: 90%;
	margin: auto;
}

.experience__img--truecar {
	max-height: 180px;
}

.experience__img--cooliris {
	max-height: 300px;
}

/* Media queries */
/* Mobile */
@media (max-width: 768px) { 
	.header {
		background: url("../watercolor-3.jpg") no-repeat center/auto 100%;
	}

	.header__banner {
		flex-direction: column;
	}

	.header__name {
		width: 100%;
		margin-bottom: 0;
	}

	.header__subtitle-and-navigation {
		text-align: center;
	}

	.header__subtitle {
		font-size: 34px;
	}

	.header-nav {
		font-size: 16px;
	}

	.section {
		padding: 5% 5%;
	}

	.experience {
		flex-direction: column;
		padding: 24px 0 64px;
	}

	.experience__text {
		width: auto;
	}

	.experience__img-container {
		width: auto;
		margin-top: 16px;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 
	.header {
		background: url("../watercolor-3.jpg") no-repeat center/auto 100%;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) { 

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1440px) { 

} 

/* Large devices (extra large desktops, 1441px and up) */
@media (min-width: 1441px) {  }

/* Utility classes */
.vertically-centered {
  top: 50%;
  transform: translateY(-50%);
}

.horizontally-centered {
	left: 50%;
  transform: translateX(-50%);
}

.vh-centered {
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
}

.display-flex {
  display: flex;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-grow-1 {
	flex-grow: 1;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
	align-items: center;
}

.text-align-center {
	text-align: center;
}

.img-responsive {
  display: block;
  height: auto;
}

.serif {
	font-family: Georgia, Times, "Times New Roman", serif;
}
