html, body {
	min-height: 100%;
	height: 100%;
}

body {
	color: #333;
	background-color: #1B050A;
	font-family: "Lato", Verdana, sans-serif;
	font-size: 1.6em;
	background-repeat: repeat;
	background-attachment: fixed;
	overflow: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: #333;
	text-decoration: none !important;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

a:hover {
	color: #00B4D6 !important;
}

.light {
	font-weight: 300;
}

.thin {
	font-weight: 100;
}

.thick {
	font-weight: 700 !important;
}

.condensed {
	font-family: 'Amatic SC', cursive;
	font-weight: 700;
}

.medium_margin_bottom {
	margin-bottom: 25px;
}

.centered {
	text-align: center;
}

.vertical_center_container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.large {
	font-size: 2.0em;
}

.medium {
	font-size: 1.2em;
}

.auto_margin {
	margin-left: auto;
	margin-right: auto;
}



/* -------- Header styling -------- */
#header {
  position: relative;
	width: 100%;
	height: 90%;
	z-index: 1;
  background-color: #1b040a;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
}

.header_image {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
  background-image: url("../abstract.jpg");
  background-image: -webkit-image-set(
    url("../abstract.jpg")    1x,
    url("../abstract@2x.jpg") 2x
  );
  background-size: cover;
  background-position-y: center;
}

.header_container {
	position: relative;
	z-index: 2;
	top: 47%;
	padding: 20px;
	color: white;
	background-color: rgba(27, 5, 10, 0.85);
}

.header_name {
	background-image: url("../sketched-name3.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	height: 200px;
}

.header_catch {
	margin: -15px 0px 0px -17px;
	font-size: 4em;
}

.navigation {
	background-image: url("../abstract.jpg");
	background-size: cover;
	background-position: bottom center;
	height: 70px;
}

.navigation_overlay {
	position: relative;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.nav_item {
	padding-top: 20px;
	-webkit-box-flex: 1;
  -moz-box-flex:  1;
  flex:  1;
  font-size: 1.1em;
  font-weight: 700;
}

.nav_item a {
	color: white !important;
}

.nav_item a:hover {
	color: #00B4D6 !important;
}

.sections {
	font-size: 1.35em;
}

.sections a {
	color: white;
}

.section:hover {
	cursor: default;
}

.section {
	padding: 5% 10%;
}

.section_title {
	color: #333;
	font-size: 3.2em;
}

/* -------- About styling -------- */

.about {
	background-color: white;
	padding: 3% 10% 5% 10%;
	color: #333;
	overflow: visible;
}

.mobile_about {
	padding-top: 50px;
	line-height: 35px;
}

.timeline {
	margin-top: 50px !important;
}

.timeline_item {
	position: relative;
	z-index: 2;
	margin-top: -16px;
	text-align: center;
	font-size: 1.4em;
}

.last_item {
	position: relative;
	z-index: 0 !important;
	margin-top: -50px !important;
	line-height: 30px;
	font-size: 1.6em;
}

.timeline_circle {
	border: 3px solid #333;
	background: white;
	border-radius: 40px;
	width: 40px;
	height: 40px;
	-webkit-transition: border .2s ease-out;
  -moz-transition: border .2s ease-out;
  -o-transition: border .2s ease-out;
  -ms-transition: border .2s ease-out;
  transition: border .2s ease-out;
}

.arrow_up {
	opacity: 0;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #D0D0D0;
	-webkit-transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out;
  -ms-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out;
}

.arrow_fill {
	position: relative;
	z-index: 3;
	opacity: 0;
	width: 0; 
	height: 0; 
	margin-top: -9px;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 9px solid white;
	-webkit-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  -ms-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

.hidden_description {
	opacity: 0;
	position: absolute;
	top: 80px;
	left: 0;
	width: 213px;
	border: 1px solid #D0D0D0;
	border-radius: 10px;
	text-align: left;
	font-size: 0.7em;
	padding: 15px 20px;
	background: rgba(255, 255, 255, 0.9);
	-webkit-transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out;
  -ms-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out;
}

.hidden_description .condensed {
	font-size: 1.6em;
	line-height: 25px;
}

.timeline_circle:hover {
	border: 3px solid #00B4D6 !important;
	cursor: pointer;
}

.timeline_circle:hover + .age {
	color: #00B4D6;
}

.timeline_circle:hover ~ .hidden_description, .timeline_circle:hover ~ .arrow_up {
	opacity: 1;
}

.timeline_circle:hover ~ .arrow_fill {
	opacity: 1 !important;
	-webkit-transition: opacity .0s ease-out;
  -moz-transition: opacity .0s ease-out;
  -o-transition: opacity .0s ease-out;
  -ms-transition: opacity .0s ease-out;
  transition: opacity .0s ease-out;
}

.age {
	-webkit-transition: color .2s ease-out;
  -moz-transition: color .2s ease-out;
  -o-transition: color .2s ease-out;
  -ms-transition: color .2s ease-out;
  transition: color .2s ease-out;
}

.timeline_profile_circle {
	position: relative;
	z-index: 0;
	border: 3px solid #333;
	background-image: url("../profile.jpg");
	background-size: cover;
	border-radius: 120px;
	width: 120px;
	height: 120px;
}

.resume {
	text-align: right;
	margin: 20px 20px;
	font-weight: 700;
}

.body_text {
	height: 100%;
	margin-left: 250px;
	padding-left: 50px;
	border-left: 	1px solid #2C5F6B;
	float: left;
}

.full {
	width: 100%;
	height: 100%;
}

/* -------- Experience styling --------*/

.experience {
	background-color: white;
}

.experience_title {
	font-size: 1.6em;
	letter-spacing: 2px;
}

.artistic_line {
	position: relative;
	height: 15px;
	width: 100%;
	margin: 10px 0px 50px -15px;
	background-image: url("../artistic_line.png");
	background-size: 100% 15px;
	background-repeat: no-repeat;
}

.experience_line {
	z-index: 0;
}

.peeking {
	position: absolute;
	top: -107px;
	right: 160px;
	height: 130px;
	width: 150px;
	background-image: url("../peeking.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.experience_timeline {
	font-size: 1.5em;
}

.experience_header {
	margin-bottom: 15px;
}

.position {
	letter-spacing: 2px;
}

.experience_footer {
	font-size: 0.9em;
	letter-spacing: 2px;
	margin-top: 10px;
	font-weight: 700;
}

.experience_link:hover {
	color: #923a4e
}

.experience a {
	text-decoration: none;
}

.experience_text {
	padding-bottom: 15px;
}

.experience i {
	position: absolute;
	margin-left: 5px;
	margin-top: 1px;
}

.truecar {
	max-height: 230px;
}

.cooliris {
	max-height: 300px;
	margin-top: -35px;
}



/* -------- Projects styling --------*/

.projects {
	margin-top: -3%;
	background-color: white;
	background-image: url("../watercolor.png");
	background-size: 101% 100%;
	background-repeat: no-repeat;
}

.projects .row {
	padding: 20px 0px 80px 0px;
}

.notemap {
		background-image: url("../notemap_sketch.png");
}

.tutera {
	background-image: url("../tutera_sketch.png");
}

.project_img {
	width: 230px;
	height: 230px;
	background-size: 230px;
	-webkit-transition: background .2s ease-out;
  -moz-transition: background .2s ease-out;
  -o-transition: background .2s ease-out;
  -ms-transition: background .2s ease-out;
  transition: background .2s ease-out;
}

.project_img:hover {
	cursor: pointer;
}

.notemap:hover {
	background-image: url("../notemap_sketch_hover.png");
}

.tutera:hover {
	background-image: url("../tutera_sketch_hover.png");
}

.project a {
	color: #333 !important;
}

.project .condensed {
	font-size: 2.5em;
}

.project .catch {
	font-size: 1.2em;
	line-height: 30px;
	padding: 5px 0px;
}

.see_more {
	padding-top: 105px;
}

.project .more_hidden {
	opacity: 0;
	-webkit-transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out;
  -ms-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out;
}

.project_img:hover .more_hidden {
	opacity: 1;
}

/* -------- Other Styling -------- */
.other {
	background-color: white;
	padding-bottom: 10% !important;
}

.other_title {
	font-size: 1.3em;
	letter-spacing: 2px;
}




/* -------- Contact Styling -------- */
.contact {
	background-color: #1D1315;
	color: #fff !important;
	padding: 3% 5%;
}

.contact_header {
	margin-top: 15px;
	font-size: 1.7em !important;
	margin-bottom: 15px;
}

.contact a {
	color: #fff !important;
	text-decoration: none;
}

.contact a:hover {
	color: #00B4D6 !important;
}

.fa {
	font-size: 1.2em !important;
}

.fa-mobile {
	margin-left: 2px;
	font-size: 1.7em !important;
	top: 4px;
}

.fa-linkedin {
	margin-right: 1px;
	margin-left: 2px;
}

.footer {
  color: white;
  line-height: 1.7em;
  margin-bottom: -1px;
  padding: 3% 11%;
}

.small_footer {
  display: flex;
  display:-webkit-flex;
  display:-webkit-box;
  display:-moz-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
  flex-direction:row;
  flex-flow: row wrap;
}

.footer .col {
	font-size: 0.85em;
  letter-spacing: 2.5px;
}

.small_footer .col {
  -webkit-flex:1;
  -webkit-box-flex:1;
  -moz-flex:1;
  -moz-box-flex:1;
  -ms-flex:1;
  flex:1;
}

.small_footer .big {
	-webkit-flex:2;
  -webkit-box-flex:2;
  -moz-flex:2;
  -moz-box-flex:2;
  -ms-flex:2;
  flex:2;
}

.footer a {
  text-decoration: none;
  color: white;
  transition: color 0.2s ease;
}

.footer_text {
	margin-left: 2px;
}

.footer_text2 {
	margin-left: 5px;
}

.header {
  padding-top: 25px;
  font-size: 1.1em;
}

.number {
	margin-left: 2px;
}

.bottom {
  padding: 2% 11%;
  background-color: #161B1F !important;
  text-align: center;
  font-size: 0.7em;
  color: #626E75;
  letter-spacing: 2px;
}

.mobile_footer {
	margin-bottom: 25px !important;
}



/* -------- Inner content page -------- */
.content {
	background-color: white;
}

.content_focus {
	padding: 3% 10%;
}

.header_responsive {
	display: inline-block;
}

.content .experience_header {
	margin-top: 10px;
}

.content .truecar {
	max-width: 95%;
}

.img_carousel {
	width: 70%;
	margin-top: 20px !important;
	margin-bottom: 50px !important;
}

.explanation {
	position: absolute;
	bottom: 0px;
	padding: 15px 20px;
	background: rgba(0, 0, 0, 0.7);
	color: white;
	font-size: 0.9em;
	line-height: 20px;
}

/* Media queries */
@media (max-width: 768px) {
	.header_sub {
		text-align: center;
		padding-top: 15px;
	}
	.link_image {
		-webkit-transform: translateY(0%);
     -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
       -o-transform: translateY(0%);
          transform: translateY(0%);
	}
	.peeking {
		display: none;
	}
	.last_project {
		padding-top: 60px;
	}
	.age {
		display: none;
	}
	.timeline {
		display: none;
	}
	.truecar {
		max-width: 90%;
	}
	.cooliris {
		margin-top: 5px;
	}
	.header_responsive {
		display: block;
	}
	.separator {
		display: none;
	}
	.img_carousel {
		width: 100%;
	}
	.small_footer {
		display: none;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 
	.header_sub {
		-webkit-transform: translateY(20%);
     -moz-transform: translateY(20%);
      -ms-transform: translateY(20%);
       -o-transform: translateY(20%);
          transform: translateY(20%);
	}
	.about {
		padding: 3% 10% 9% 10%;
	}
	.timeline_circle {
		width: 25px;
		height: 25px;
		margin-top: 10px;
	}
	.age {
		display: none;
	}
	.arrow_up {
		margin-top: 11px;
	}
	.hidden_description {
		top: 55px;
	}
	.last_item .condensed {
		text-align: left;
		padding-left: 27px;
	}
	.truecar {
		max-width: 90%;
	}
	.header_responsive {
		display: block;
	}
	.separator {
		display: none;
	}
	.small_footer {
		display: none;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px){ 
	.header_sub {
		-webkit-transform: translateY(35%);
     -moz-transform: translateY(35%);
      -ms-transform: translateY(35%);
       -o-transform: translateY(35%);
          transform: translateY(35%);
	}
	.truecar {
		max-width: 80%;
	}
	.content .truecar {
		margin-top: 35%;
	}
	.mobile_footer {
		display: none;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1440px) {
	.header_sub {
		-webkit-transform: translateY(35%);
     -moz-transform: translateY(35%);
      -ms-transform: translateY(35%);
       -o-transform: translateY(35%);
          transform: translateY(35%);
	}
	.truecar {
		max-width: 67%;
	}
	.content .truecar {
		margin-top: 15%;
	}
	.mobile_footer {
		display: none;
	}
}

/* Large devices (extra large desktops, 1441px and up) */
@media (min-width: 1441px) {
	.header_sub {
		-webkit-transform: translateY(35%);
     -moz-transform: translateY(35%);
      -ms-transform: translateY(35%);
       -o-transform: translateY(35%);
          transform: translateY(35%);
	}
	.truecar {
		margin-top: -2%;
		max-width: 55%;
	}
	.content .truecar {
		margin-top: 8%;
	}
	.mobile_footer {
		display: none;
	}
}