body {
	color: #333;
	font-family: proximanova !important;
	background-color: #ccc;
	overflow: auto;
}

@font-face {
	font-family: proximanova;
	src: url("proximanova.otf") format("opentype");
}

@font-face {
	font-family: proximanova-light;
	src: url("proximanova-light.ttf") format("truetype");
}

a {
	color: #333;
}

p {
	font-size: 1.2em;
	font-family: proximanova-light;
}

#header {
	width: 100%;
	height: 90%;
	z-index: 1;
  background-color: #1b040a;
  position: relative;
  box-shadow: 0px 3px 8px #333;
}

#mobile-header {
	display: none;
  z-index: 1;
  box-shadow: 0px 3px 8px #333;
}

#mobile-header-buttons {
	width: 100%;
	font-size: 1.2em;
  background-color: #1b040a;
  box-shadow: 0px 3px 8px #333;
  z-index: 2;
  position: relative;
}

.mobile_button {
	text-align: center;
	color: #fff;
}

#mobile-header-buttons a {
	text-decoration: none !important;
}

.mobile_button1 {
	width: 25%;
	border-right: 2px solid #333;
}
.mobile_button2 {
	left: 25%;
	width: 25%;
	border-right: 2px solid #333;
}
.mobile_button3 {
	left: 50%;
	width: 25%;
	border-right: 2px solid #333;
}
.mobile_button4 {
	left: 75%;
	width: 25%;
}

.centered {
	text-align: center;
}

.vertical_center_container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.large {
	font-size: 2.75em;
}

.medium {
	font-size: 1.75em;
}

.light {
	font-family: proximanova-light !important;
}

.auto_margin {
	margin-left: auto;
	margin-right: auto;
}

.header_image {
	height: 100%;
	width: 80%;
	background-repeat: no-repeat;
  background-image: url("erin_singer_cover.png");
  background-image: -webkit-image-set(
    url("erin_singer_cover.png")    1x,
    url("erin_singer_cover@2x.png") 2x
  );
  background-size: cover;
}

.header_buttons {
	position: absolute;
	font-size: 1.5em;
	color: #ffffff;
	top: 0;
	right: 0;
	width: 20%;
	height: 100%;
	text-align: center;
}


@media only screen and (min-device-width : 200px) and (max-device-width : 899px) and (orientation : portrait) { 
	body {
		font-size: 2.0em;
	}
	p {
		font-size: 1.2em;
		font-family: proximanova !important;
	}
	.section {
		padding: 5% 5% !important;
	}
	#header {
		display: none;
	}
	#mobile-header {
		display: block;
	}
	#mobile-header-buttons {
		height: 200px;
		font-size: 1.2em;
		font-family: proximanova !important;
	}
	.mobile_buttons {
		height: 200px;
	}
	.mobile_profile_image {
		max-width: 400px;
	}
	.mobile_picture_section {
		display: block !important;
	}
	.tutera_image {
		margin-top: 50px;
		height: 500px !important;
	}
	.beamit_mobile {
		padding-right: 4%;
		height: 300px !important;
	}
	.mobile_experience_image {
		display: block !important;
	}
	.experience_text {
		width: 100% !important;
	}
	.experience_image_container {
		display: none;
	}
	.profile_container {
		display: none;
	}
	.about_text {
		width: 100% !important;
		margin-left: 0 !important;
		padding-left: 0 !important;
		border-left: 	none !important;
	}
}

@media (max-width : 899px) { 
	#header {
		display: none;
	}
	#mobile-header {
		display: block;
	}
	#mobile-header-buttons {
		height: 150px;
		font-size: 1.5em;
		font-family: proximanova-light !important;
	}
	.mobile_buttons {
		height: 150px;
	}
	.mobile_profile_image {
		max-width: 200px;
	}
	.mobile_picture_section {
		display: block !important;
	}
	.tutera_image {
		margin-top: 30px;
	}
	.beamit_mobile {
		padding-right: 4%;
		height: 150px !important;
	}
	.mobile_experience_image {
		display: block !important;
	}
	.experience_text {
		width: 100% !important;
	}
	.experience_image_container {
		display: none;
	}
	.profile_container {
		display: none;
	}
	.about_text {
		width: 100% !important;
		margin-left: 0 !important;
		padding-left: 0 !important;
		border-left: 	none !important;
	}
}

.header_buttons a {
	color: #fff;
	text-decoration: none;
}

.header_button {
	position: relative;
	height: 25%;
	width: 100%;
	border-bottom: 1px solid #333;
}

.header_button:hover {
	background-color: #333;
}

.button_text {
	width: 90%;
}

.last {
	border-bottom: none;
}

.title {
	font-size: 2.75em;
}

.section:hover {
	cursor: default;
}

.section {
	padding: 5% 12% ;
	overflow: auto;
}

.about {
	background-color: #923a4e;
	color: #fff;
	text-shadow: 2px 2px 3px #762F3F;
	box-shadow: 0px 2px 5px #767575;
}

.about:hover {
	color: #fff;
}

.experience {
	background-repeat: no-repeat;
  background-image: url("texture_background.png");
  background-image: -webkit-image-set(
    url("texture_background.png")    1x,
    url("texture_background@2x.png") 2x
  );
  background-size: cover;
}

.about_text {
	height: 100%;
	margin-left: 250px;
	padding-left: 50px;
	border-left: 	1px solid #762F3F;
	float: left;
	text-shadow: 1px 1px 1px #762F3F;
}

.about a {
	color: #fff;
}

.weird_margin {
	margin-bottom: -5px;
}

.profile_container {
	width: 200px;
	height: 100%;
	top: 0;
	position: absolute;
}

.mobile_picture_section {
	display: none;
}

.mobile_profile_image {
	height: auto;
	border: 2px solid #762F3F;
}

.full {
	width: 100%;
	height: 100%;
	text-align: center;
}

.profile_image {
	border: 2px solid #762F3F;
	max-width: 200px;
}

.fa-angle-right {
	margin-top: -1px;
	margin-left: 5px;
	font-size: 1.5em;
}

.mobile_experience_image {
	display: none;
}

.tutera_image {
	height: 300px;
	width: auto;
	bottom: 0;
	/*box-shadow: 0px 2px 1px #767575;*/
}

.list_border {
	border-bottom: 1px solid #c2c2c2;
	margin-bottom: 35px;
}

.experience_image_container {
	width: 30%;
	height: 100%;
	top: 0;
	right: 0;
	position: absolute;
}

.beamit_image {
	right: 2% !important;
}

.experience_text {
	width: 60%;
	padding-bottom: 25px;
}

.experience_timeline {
	font-size: 1.5em;
}

.experience_header {
	margin-bottom: 5px;
}

.experience a {
	text-decoration: none;
}

.courses {
	box-shadow: 0px -2px 8px #767575;
}

.contact {
	background-color: #1b040a;
	color: #fff;
}