<header class="header">
  <div class="header__banner vertically-centered display-flex align-items-center">
    <h1 class="header__name flex-shrink-0" aria-label="Erin Briggs' Portfolio">
      <img class="header__name-img" src="../../assets/erin-briggs.png" />
    </h1>
    <div class="header__subtitle-and-navigation display-flex flex-column">
      <h2 class="header__subtitle flex-shrink-0"> Web, UI, & UX </h2>
      <nav class="header__nav">
        <LinkTo @route="about" class="header__nav-item" aria-label="About Erin">about</LinkTo>
        <span class="dot" aria-hidden="true">&middot;</span>
        <LinkTo @route="resume" class="header__nav-item" aria-label="Erin's work resume">resume</LinkTo>
        <span class="dot" aria-hidden="true">&middot;</span>
        <a href="#contact" class="header__nav-item" aria-label="Contact Erin">
          contact
        </a>
      </nav>
    </div>
  </div>
</header>

{{yield}}