
	{{!-- About section --}}
	<a name="about"></a>
	<div class="section section--about">
		<h2 class="section__title section__title--about">
			I've always loved creating things
  </h2>

		<p class="about__description serif">
			Isn't it neat starting with something blank - a blank page, a blank sheet of paper, or blank webpage - and making something from nothing? 
			As an introvert disguised as an extrovert, there's something lovely about having a collection of hobbies I can lose myself in independently
			of everything else happening. If work is a dumpster-fire, I can still program fun things in my free time. If lifelong friends take different paths,
			I can still reminisce about the friendship through my writing. Generative, solo hobbies help keep me sane. 
			<br/><br/>
			But solo hobbies are just a piece of the puzzle; because - if I'm being honest - being alone <i>all the time</i> wouldn't satisfy me either.
			<br/><br/>
			I love to play board games with friends: Wingspan (my favorite), Shut the Box (mostly to socialize), and Catan (because it's all the rage).
			I love to play sports: softball (my favorite), volleyball (mostly to socialize), and recently pickleball (because it's all the rage).
			I love to bake new desserts and test them out on my friends. I love to come up with elaborate party themes, and find fun decorations,
			and make up goofy games.
			<br/><br/>
			Maybe I'm actually an extrovert disguised as an introvert as a way to pass the time when I'm alone.
			<br/><br/>
			As a professional, whether I'm an introverted-extrovert or an extroverted-introvert, all the creative things I enjoy doing like designing,
			writing, and problem solving, have led to me finding a niche in software development (and thus creating this website). My resume has more
			details if you've found yourself on here for that purpose.
		</p>

    {{timeline}}
  </div>
