{{page-title "Resume"}}

{{!-- Experience section --}}
<a name="experience"></a>
<div class="section section--experience">
  <h2 class="section__title">
    Work Experience
  </h2>

  {{resume-list}}
</div>

{{outlet}}